<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- see https://logback.qos.ch/manual/layouts.html -->
            <pattern>
                %d %highlight(%-5level) %-40(%magenta([%thread])) %blue(%logger{36}\(%F:%L\)) %msg %n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>-->

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
